# Python and Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/



# Keep documentation and notebooks under version control
!docs/*.xlsx
!notebooks/*.ipynb

# Ignore only the raw source file
data/raw/chile_suzuki_historical_sales.csv

# Ignore lumpy outputs
lumpy_outputs/
